apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: argo
  labels:
    app: argo
    release: "{{ .Release.Name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: argo
subjects:
  - kind: ServiceAccount
    name: argo
    namespace: "{{ .Release.Namespace }}"